/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

.page-body {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #010001;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.page-header {
  margin-top: 53px;
  margin-bottom: 120px;
}

.page-header__wrapper {
  max-width: 1230px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.main-nav__list,
.secondary-nav__list {
  display: flex;
  list-style: none;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding: 0;
}

.main-nav__item,
.secondary-nav__item {
  margin-right: 20px;
}

.main-nav__link,
.secondary-nav__link {
  text-decoration: none;
  color: #ffffff;
}

.secondary-nav__link {
  color: #808080;
}

.promo {
  text-align: center;
}

.promo__title {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.promo__description {
  max-width: 268px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  text-transform: lowercase;
  margin: auto;
}

.promo__description::after {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 26px;
}

.video {
  max-width: 1230px;
  width: 90%;
  margin: auto;
  height: 750px;
}

.features {
  margin-bottom: 100px;
}

.features__wrapper {
  position: relative;
  max-width: 1230px;
  width: 90%;
  padding: 100px 0;
  margin: auto;
}

.features__rocket {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 99;
  max-width: 300px;
}

.overview__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.overview {
  margin-bottom: 218px;
}

.overview__table {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 179.69%;
}

.overview__td {
  width: 300px;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
}

.overview__td-alt-color {
  color: #B2B0B2;
}

.performance__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.performance__text {
  max-width: 490px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
}

.page-footer {
  margin-bottom: 131px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-bottom: 43px;
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list__item {
  margin-right: 20px;
}

.nav-list__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.page-footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 30px;
}

.page-footer__mail-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
}

.page-footer__button {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  min-width: 260px;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 6px;
}

@media (max-width: 960px) {
  .features__rocket {
    max-width: 230px;
  }

  .overview__td {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .page-header__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .page-header__logo-link {
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .page-header__main-nav {
    margin-bottom: 20px;
  }

  .features__rocket {
    max-width: 180px;
  }

  .video {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .page-header {
    margin-bottom: 40px;
  }

  .features {
    margin-bottom: 0;
  }
  
  .features__rocket {
    position: static;
    padding-left: 50px;
    margin-bottom: 20px;
  }

  .overview {
    margin-bottom: 0;
  }

  .overview__td {
    width: 150px;
    font-size: 14px;
  }

  .page-footer__wrapper {
    padding: 0 30px;
  }

  .nav-list {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .nav-list__item {
    margin-bottom: 10px;
  }

  .page-footer__text {
    text-align: center;
  }
}